:root {
    --primary-color: #300e0e;
    --secondary-color: #5f2222;
    --background-color: #220606;
    --text-color:#FAD004;
    --link-color: #58acff;
    --font-size: 16px;
    --content-padding: 0 calc((100% - 1440px) / 2);
}
body{
    margin: 0px;
    padding: 0%;
    font-family: 'Asap', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header a img {
    width: 280px;
    height: auto;
    margin-left: 20px;
}
header {
   display: flex;
   flex-direction: column;
   padding-top:10px;
   align-items: center;
   background-color: var(--secondary-color);
   
}
input{
        margin: 0 0px 15px 15px;
}
.navi{
    text-align: center;   
}
.navi p{
      margin: 10px 20px 9px;
}
.search-btn{
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
        padding: 3px 10px;
    cursor: pointer;
    font-size: var(--font-size);
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
/* ------->FOOTER------------------------------*/
.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 32px 0px 32px 0px;
    position: relative;
    margin: 0 auto;
    gap: 12px;
    background-color: var(--secondary-color);
}

.footer-content {
    color: white;  
}

footer a img {
    width: 280px;
    height: auto;
    margin-left: 20px;
}