:root {
    --primary-color: #300e0e;
    --secondary-color: #5f2222;
    --background-color: #220606;
    --text-color: #f5f7fa;
    --link-color: #58acff;
    --font-size: 16px;
    --content-padding: 0 calc((100% - 1440px) / 2);
}
body{
    margin: 0px;
    padding: 0%;
    font-family: 'Asap', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}