
.pokemon-type-grass {
    background-color: #8BC34A; 
}

.pokemon-type-fire {
    background-color: #FFA560;
}

.pokemon-type-water {
    background-color: #7FD4E8; 
}

.pokemon-type-flying {
    background-color: #D8C9E8; 
}

.pokemon-type-bug {
    background-color: #A8B820; 
}

.pokemon-type-poison {
    background-color: #C87FC8; 
}

.pokemon-type-normal {
    background-color: #E8E8D0; 
}

.pokemon-type-fighting {
    background-color: #F0C040; 
}

.pokemon-type-fairy {
    background-color: #F0A8D8; 
}

.pokemon-type-psychic {
    background-color: #F090A0; 
}

.pokemon-type-ground {
    background-color: #D4B896; 
}

.pokemon-type-electric {
    background-color: #FDE94E; 
}

.pokemon-type-rock {
    background-color: #C0B090; 
}